.btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    text-align: center;
    width: 100%;
    font-size: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.aba{
    width: 100%;
    height: 400px;
}
#aba1{
    background-color: darkgreen;
}
#aba2{
    background-color: rgb(0, 255, 0);
}
#aba3{
    background-color: rgb(0, 85, 100);
}
#aba4{
    background-color: rgb(12, 227, 255);
}
#aba5{
    background-color: rgb(248, 33, 177);
}
.conteudo {
 text-align: center;
}
body {
    background-color: rgb(255, 255, 255);
}
.barra {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color:black ;
}
.desktop {
    display: none;
}
.tablet{
    display: none;
}
.mobile {
  font-size: 50px;
  color: rgb(255, 0, 0);
}
@media (min-width:800px) {
    .barra{
        background-color: rgb(123, 255, 71);
    }
    .mobile{
        display: none;

    }
    .tablet{
        display: inline;
        font-size: 55px;
        color: black;
    }
    .btn{
        margin-top: 0;
        width: 19.5%;   
    }
    .conteudo {
        text-align: right;
}
@media (min-width:1228px){
    .barra{
        background-color: blueviolet;
        height: 110px;
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: inline;
        font-size: 70px;
        color: darkmagenta;
    }
    .conteudo {
        text-align: left;
    }

}